.custom-nav .navbar-nav li a:active,.custom-nav .navbar-nav li.active a,.custom-nav .navbar-nav li a:hover,.custom-nav.stickyadd .navbar-nav li a:hover,.custom-nav.stickyadd .navbar-nav li a:active,.custom-nav.stickyadd .navbar-nav li.active a,.about-social li a:hover {
  color: #eac616!important;
}





.btn-custom:hover,.btn-custom:focus,.btn-custom:active,.btn-custom.active,.btn-custom.focus,.btn-custom:active,.btn-custom:focus,.btn-custom:hover,.open>.dropdown-toggle.btn-custom {
  background-color: #eac616;
  border-color: #eac616;
}
